.contenedor{
  box-sizing:border-box;
  float:left;
  width:100%;
  height:100%;
  padding:10px;
}
.lienzo{ 
  border:1px solid #d9d9d9;  
}
#lienzo1{float:right;}
#myChart{width:100%; height:100%;float:left;}
